
.delivery-info {
  &_container {
    padding-top: 70px;
    border-top: 6px solid #E5E5E5;
  }

  &_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
    @media(min-width: 1200px) {
      margin-right: -35px;
      margin-left: -35px;
    }
  }

  &_col {
    @media(min-width: 1200px) {
      padding-right: 35px;
      padding-left: 35px;
    }
  }

  &_title {
    color: #3A3A3A;
  }

  &_content {
    line-height: 2em;
  }

}