
<div class="delivery-info_container jb_mb80">
    <div class="delivery-info_row jb_mb80">
        <div class="delivery-info_col col-md-3 col-sm-6">
            <h3 class="jb_tl jb_fb30 jb_mb20 jb_mt0 delivery-info_title">
                Доставка по России
            </h3>
            <p class="jb_tl jb_fb14 delivery-info_content">
                Доставка в регионы России осуществляется посредством транспортных компаний СДЭК, ПЭК,
                «Деловые линии» или другой удобной для покупателя. Также мы можем отправить товар Почтой
                России. Оплата услуг транспортной компании оплачивается отдельно при получении.
                Сумма доставки рассчитывается при оформлении заказа, исходя из тарифов ТК.
            </p>
        </div>
        <div class="delivery-info_col col-md-3 col-sm-6">
            <h3 class="jb_tl jb_fb30 jb_mb20 jb_mt0 delivery-info_title">
                Условия доставки
            </h3>
            <p class="jb_tl jb_fb14 delivery-info_content">
                Отгрузка товара со склада выдачи происходит в течение 2х рабочих дней с момента
                получения
                оплаты.
                Для товаров под заказ время отгрузки увеличивается на срок от 1 до 4 недель в
                зависимости от
                поставщика.
            </p>
        </div>
        <div class="delivery-info_col col-md-3 col-sm-6">
            <h3 class="jb_tl jb_fb30 jb_mb20 jb_mt0 delivery-info_title">
                Доставка по Санкт-Петербургу и Ленинградской области

            </h3>
            <p class="jb_tl jb_fb14 delivery-info_content">
                По Санкт-Петербургу и в пригороды действует курьерская доставка. Стоимость в пределах
                КАД
                300 рублей, за пределы КАД - 300+30 рублей за каждый километр от кольца. Для расчета
                точной
                стоимости можно связаться с нами по телефону +7 (981) 803-53-95.
            </p>
        </div>
        <div class="delivery-info_col col-md-3 col-sm-6">
            <h3 class="jb_tl jb_fb30 jb_mb20 jb_mt0 delivery-info_title">
                Самовывоз
            </h3>
            <p class="jb_tl jb_fb14 delivery-info_content">
                Самовывоз товара осуществляется по адресу:<br>
                г. Санкт-Петербург, ул. Штурманская 12 (Пулково-2)<br>
                Пн-Пт 10:00-20:00 <br>
                Сб 11:00-18:00<br>
                Оплата производится только за наличный расчёт.
            </p>
        </div>
    </div>

    <div class="jb_tl row">
        <p class="col-xs-12">
            Обращаем Ваше внимание, что при самовывозе наличие товара следует уточнять заранее по номеру
            <a href="" class="c_link c_link--phone">+7(981) 803-53-95</a>
        </p>
    </div>
    <div class="flex-row flex-ai_baseline">
        <div class="col-md-4 col-auto">
            <p class="jb_tl ">
                Вы можете самостоятельно ознакомиться с тарифами ТК:
            </p>
        </div>
        <div class="col-md-5 jb_tl">
            <a class="c_link jb_ml8" href="">Калькулятор СДЭК</a>
            <a class="c_link jb_ml8" href="">Калькулятор ПЭК</a>
            <a class="c_link jb_ml8" href="">Калькулятор Деловые линии</a>
        </div>
        <div class="col-md-3">
            <a href="" class="c_link c_link--xl">Перейти в раздел доставка</a>
        </div>
    </div>


</div>